# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/
*.egg-info/
dist/

# IDE
.vscode/
.idea/
*.swp

# Infrastructure
infra/
lambda_package/

# Misc
*.md
*.txt
!requirements.txt
.env
*.zip
alembic/
*.ini
deploy.sh
recipehub.service
trust-policy.json
data_export.sql
